ROCKETCHAT_HOST=rocketchat.dev
ROCKETCHAT_PORT=3000

TRAEFIK_DASHBOARD_PORT=8080

ROCKETCHAT_ROOM=GENERAL
ROCKETCHAT_USER=hubot
ROCKETCHAT_PASSWORD=your-random-pass
BOT_NAME=hubot
EXTERNAL_SCRIPTS=hubot-help,hubot-isup,hubot-memes
TZ=/usr/share/zoneinfo/Europe/Berlin
