# Don't track MongoDB runtime files
data/db/*
!data/db/.gitkeep

# ... user upload files
data/uploads/*
!data/uploads/.gitkeep

# ... backups
data/backups/*
!data/backups/.gitkeep

# Customized environment variables / overrides
docker-compose.override.yml
.env
